button {
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
}

caption {
	text-align: center;
}

div.autosize-input input {
	border: 1px solid #cccccc;
	border-radius: 3px;
	height: 21px;
	min-width: 100px;
	padding: 2px;
}

textarea {
	border: 1px solid #cccccc;
	border-radius: 3px;
}

input.error {
	border: 1px solid red !important;
}

textarea.error {
	border: 1px solid red !important;
}

.ant-slider {
	width: 250px;
}

.flex-column {
	display: inline-flex;
	flex-direction: column;
}

.flex-row {
	display: inline-flex;
	flex-direction: row;
}

.react-numeric-input {
	display: flex !important;
	width: 100px;
}

.react-numeric-input input {
	width: 100px;
}

textarea {
	font-size:100%;
}

#NaatEditorMenu:hover * {
	color: #34495E !important;
}

.dropshadow {
	-webkit-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.20);
	box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.20);
}

.rounded {
	border-radius: 3px;
	overflow: hidden;
}

.menu ul li {
	color: #cccccc;
	cursor: pointer;
}

.menu ul li span {
	display: block;
	padding: 10px;
}

.menu ul li:hover * {
	background-color: #f0f0f0;
	color: #0089cb;
}

.autosizeInput input {
	border: 0;
	height: 30px;
	font-size: 100%;
	min-width: 150px;
	border-radius: 3px;
}

.autosizeInput.formula input {
	background-color: #eeeeee !important;
	border-radius: 3px;
}

.autosizeInput.date input {
	background-color: #eeeeee !important;
	border-radius: 3px;
}

.autosizeInput.time input {
	background-color: #eeeeee !important;
	border-radius: 3px;
}

.action-button {
	color: #a7a7a7;
}

.white {
	color: #ffffff;
}

.item:hover .item-container {
	background-color:#ecf0f1;
}

.item-clone:hover {
	color:#0082ab;
	cursor:pointer;
}

.item-config:hover {
	color:#0082ab;
	cursor:pointer;
}

.item-delete:hover {
	color:#ea533f;
	cursor:pointer;
}

.pages {
	margin: 0;
  padding: 0;
}
.page-container {
	margin: 0;
  padding: 0;
	padding-top: 5px;
	list-style: none;
}

.page-container li {
  display: inline-block;
	box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
  background-color: #e7e7e7;
	margin-left: 1px;
}

.error input,
.error textarea,
.error > div > input {
	border: 1px solid red
}

.page-container li.active {
	background-color: #ffffff;
	border-bottom: none;
}

.page-container li button {
  padding: 8px 8px;
  display: inline-block;
  text-decoration: none;
	outline: 0;
}

.sk-spinner {
	width: 40px;
	height: 40px;
}

.avatar-uploader,
.avatar-uploader-trigger,
.avatar {
  width: 150px;
  height: 150px;
}
.avatar-uploader {
  display: block;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
}
.avatar-uploader-trigger {
  display: table-cell;
  vertical-align: middle;
  font-size: 28px;
  color: #999;
}

.ghost {
  opacity: 0.25;
}

.tool-ghost {
	background-color: #0089cb;
	display: flex;
	width: 100%;
	opacity: 0.2;
}

.ant-form-item {
	margin-bottom: 5px;
}

.ant-form-item-control {
	align-items: center;
	display: flex;
}

.ant-input-number-input[disabled] {
	background-color: #dddddd;
	color: #666666;
}

pre code {
  display: block;
}

code {
  white-space: pre;
}