/* TITULOS DE PAGINA */
.page-container {
	background-color: #FFFFFF;
}

.page-container li button.palette-pageTitle {
	color: #999999;
}

.page-container li.active button.palette-pageTitle {
	color: #0089CB;
}

.page-container li.active button.palette-pageTitle:hover {
	color: #F96806;
}

/* TEXTO IZQUIERDA Y DERECHA DEL ELEMENTO */
.palette-leftText {
	color: #666666;
}

.palette-rightText {
	color: #2C6BA8;
}

/* NUMERO QUE REPRESENTA EL ORDEN NUMERICO */
.palette-numericOrder {
	color: #F89406;
}

/* ID DEL ELEMENTO */
.palette-idElement {
	color: #F96806;
}

/* CABECERA DE LA TABLA*/
.palette-tableCaption {
	background-color: #808080;
	color: #FFFFFF;
}

.palette-tableHeader {
	background-color: #808080;
	color: #FFFFFF;
}

.palette-tableTR {
	background-color: #808080;
	color: #FFFFFF;
}

.palette-tableTD {
	background-color: #FFFFFF;
}

.palette-tableEmptyTD {
	background-color: #808080;
	color: #FFFFFF;
}